.accountBar {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.chainAndAccountZone {
  display: flex;
}

.accountInf {
  background: #1a1b1f;
  border-radius: 10px;
  padding: 8px;
  color: white;
  font-weight: 600;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .busd-box {
    margin-left: 5px;
  }
  .nectar-box {
    margin: 0 5px 0 5px;

    .nectarImg {
      width: 25px;
      margin-top: -5px;
      transform: scale(1.2);
    }
  }
  .busd-box,
  .wallet-box {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  transition: transform 0.1s ease;
  &:hover {
    transform: scale(1.025);
  }
}

.apeSpan {
  font-size: 20px;
}

.metaMaskLoader {
  margin-left: 0.5rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.metaMaskLoader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fb7179;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.noLogedZone {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: bolder;
  color: white;
  font-size: 2em;
}

.signContractBtn {
  background-color: #4f3727;
  border: none;
  font-weight: bolder;
  transition: transform 0.1s ease;
  &:hover {
    background-color: #4f3727;
    transform: scale(1.025);
    border: none;
  }
}
